<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>UTP Cobol Parser</title>
</head>
<body>
<p>Inserta el código COBOL que deseas</p>
<form>
    <label for="source_code_input">Código COBOL</label><textarea id="source_code_input"></textarea>
    <button th:onclick="|window.location.href='/tokens/evaluate'|">Parsear</button>
    <button>Analizar</button>
</form>

<p>Resultado del análisis</p>
<span th:text="#{analysisResult}"></span>
<p>Resultado del parser</p>
<!--<span th:text="#{parserResult}"></span>-->
</body>
</html>